.logo {
  margin-top: 20px;
}

.header-text {
  text-align: right;
}

.hero {
  width: 100%;
}

.screenshot {
  width: 100%;
}

.project-title {
  margin-top: 8px;
  margin-bottom: 0px;
}

article {
  padding-top: 10px;
}
