.logo {
  margin-top: 20px;
}

.header-text {
  text-align: right;
}

.full-width {
  margin-right: -30px;
  margin-left: -30px;
}

.photo {
  width: 100%;
}

.project-title {
  margin-top: 8px;
  margin-bottom: 0px;
}

article {
  padding-top: 10px;
}
