.header-text{
  float: right;
}

.logo{
  float: left;
  vertical-align: middle;
}

.full-width{
  width: 100%;
  background-color: #f1f0ed;
}

.hero {
  width: 100%;
}

.featured-work {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
